@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an ASP .Net project with</p>
    <p>1 local sql database</p>
    <p>3 tables (Owners, Claims, Vehicles)</p>
    <p>Generated CRUD operations with Scaffolded Items</p>
    <p>Commented out code in data of table join attempt</p>
</div>
